<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <nav class="navbar navbar-light bg-white border-top fixed-bottom" style="min-height: 80px; padding-top: 10px; padding-bottom: 10px;">
    <div class="container-fluid justify-content-around">
      <a href="#" class="text-dark"><i class="bi bi-house" style="font-size: 2rem;"></i></a>
      <a href="#" class="text-dark"><i class="bi bi-compass" style="font-size: 2rem;"></i></a>
      <a href="#" class="text-dark"><i class="bi bi-bar-chart-line" style="font-size: 2rem;"></i></a>
      <a href="#" class="text-dark"><i class="bi bi-person" style="font-size: 2rem;"></i></a>

    </div>
  </nav>
</div>
